@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Body */
body{
    background-color: #c5ebd6 ;
    padding: 0;
    margin: 0;
    
}
h2 , h3{
    font-family: 'idroid';
    color: #156e3d ;
}
/* Header */
header {
    background-image: linear-gradient(180deg, #2C9E5F, #1A5C38);
    width: auto;
    margin: auto;
    height: auto;
    padding: 0%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
}
h1 {
    color: white;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.39);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    margin-top: 0%;
}
header p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: normal;
}
nav{
    padding: 10px;
}
nav a {
    text-decoration: none;
    padding: 3px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    color: white;
}
nav a:hover {
    background-color: #23b866;
}

/* Main */
main {
    background-color: white;
    margin: auto;
    width: 800px;
    padding: 20px;   
}
span {
    color: #156e3d;
    font-weight: bolder;
    text-decoration: none;
}
span a {
    text-decoration: none;
    color: #156e3d;
}

span a::after {
    content: '🔗';

}
main h2 {
    margin: 0px;
    font-size: 1.6em;
}
main p {
    text-indent: 30px;
    text-align: justify;
    font-family: 'Roboto';
}
main h3 {
    background-image: linear-gradient(90deg, #2c9e5f65, rgb(255, 255, 255));
    padding-left: 10px;

}

/*  Imagens e Iframes */
img {
    margin: auto;
    display: block;
}
.video-proporcao{ 
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}   

/* Article */
div {
    background-color: #2C9E5F;
    border-radius: 10px;
}

article h4 {
    background-color: #1A5C38;
    padding: 10px;
    margin: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Roboto';
    color: white;   
}
article p {
    padding: 10px;
    margin: 10px;
}
.span{
    color: rgb(212, 36, 36);
}
ul {
    font-family: 'Roboto';
    list-style-type: '✔ ';
}
aside {
    display: inline-block;
    margin: auto;
    padding-left: 50px;  
}
/* footer */
footer {
    text-align: center;
    background-color: #156e3d;
    margin: 0px;
    padding: 10px;
}
footer p  {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto';
}
footer span {
    color: white;
}